{% extends "base.html" %}
{% load static %}
{% load section_path %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="mt-3">
        <div id="grad1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 text-center hero-block">
                        <div class="hero-text">
                            <h1 class="hero-text-title title-font">Hive Fitness <i class="fas fa-dumbbell"></i></h1>
                            <h3 class="hero-text-message">The Online Fitness Community</h3>
                        </div>
                    </div>
                    <div class="col-6 hero-block">
                        <img class="hero-image" src="{{ MEDIA_URL }}workout3.png" alt="working out">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about"  id="about">
      <div class="container">
        <div class="row">
            <div class="offset-1 col-10 text-center">
                <hr class="break-lg">
                <h3 class="title-font">About Us</h3>
                <hr class="break-lg">
                <p>
                    Welcome to Hive Fitness, an online fitness community with a passion for exercise and physical health.
                    <br />
                    <br />
                    Our store supplies a wide variety of exercise equipment. Whatever your workout preforance, we can facilitate 
                    the equipment needed to optimise your routine. Whether you have a respect for running, a yearning for yoga 
                    or live to work the weights, we have something for you.
                    <br />
                    <br />
                    If our store is the face of our site then our blog is its heart. This is where our community meets to learn 
                    about training tips, nutrition and even equipment reviews. Registered users can login and add their own opinions 
                    and tips via the comment system, expanding the information network even further.
                    <br />
                    <br />
                    We know that staying fit and healthy is not always fun. It takes a lot of work just to maintain, even more to 
                    reach a goal. With a community at your back and the right equipment in hand, you will be supprised what you can 
                    achieve.
                </p>
            </div>
        </div>
    </div>
    </section>

    <!--Feature Cards-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="offset-1 col-10 text-center">
                    <hr class="break-lg">
                    <h3 class="text-center title-font">Features</h3>
                    <hr class="break-lg">
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                      <!--Shop link-->
                        <div class="feature-card">
                            <div class="home-card card center-align">
                                <div class="home-card-title">
                                    <h6>Fitness Store</h6>
                                </div>
                                <div class="home-card-image">
                                    <img src="{{ MEDIA_URL }}shop-home.jpg" class="inner-home-image" alt="treadmill">
                                </div>
                                <div class="home-card-content">We've worked hard to find the latest and greatest fitness equipment on the market. 
                                    This is a one stop shop for anything you made need to reach you exercise goals, from cardiovascular training, 
                                    resistance workouts or even recovery.
                                </div>
                                <div class="home-btn-container">
                                    <a href="{% url 'products' %}" class="home-btn">
                                        View the equipment
                                    </a>
                                </div>
                            </div>
                        </div>
                      <!--Blog link-->
                        <div class="feature-card">
                            <div class="home-card card center-align">
                                <div class="home-card-title">
                                    <h6>Join our community</h6>
                                </div>
                                <div class="home-card-image">
                                    <img src="{{ MEDIA_URL }}forum-home.jpg" class="inner-home-image" alt="group exercise">
                                </div>
                                <div class="home-card-content">What sets us apart from other equipment suppliers is our community of customers. 
                                    Our blog allows you to get inspired by reading up on fitness articles, reviews of our products and even discover
                                    some workout routines. Search though our collection located together in one convenient place.
                                </div>
                                <div class="home-btn-container">
                                    <a href="{% url 'posts' %}" class="home-btn">Visit our Blog</a>
                                </div>
                            </div>
                        </div>
                      <!--Profile/login link-->
                        <div class="feature-card">
                            <div class="home-card card center-align">
                                <div class="home-card-title">
                                    <h6>Your own profile page</h6>
                                </div>
                                <div class="home-card-image">
                                    <img src="{{ MEDIA_URL }}user-home.webp" class="inner-home-image" alt="laptop profile">
                                </div>
                                {% if request.user.is_authenticated %}
                                    <div class="home-card-content">Click the link bellow to access your own unique profile page. From here you 
                                    can easily edit your details and review your orders.
                                    </div>
                                {% else %}
                                    <div class="home-card-content">Oh no, you're not logged in! But don't worry, you can login here to access 
                                        your unique profile page and some exclusive features.
                                    </div>
                                {% endif %}
                                <div class="home-btn-container">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'profile' %}" class="home-btn">Visit your profile page</a>
                                    {% else %}
                                        <a href="{% url 'account_login' %}" class="home-btn">Login</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <div class="row mb-5 mx-2 mx-sm-0">
                <div class="col-md-10 offset-1 ct-contact">
                    <div class="mt-3 mb-4 text-center">
                        <hr class="break-lg">
                        <h3 class="text-center title-font">Contact Us</h3>
                        <hr class="break-lg">
                    </div>
                    <form method="POST" action="{% url 'contactform' %}">
                        {% csrf_token %}
                        {{ contact_form|crispy }}
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn home-btn" aria-label="Contact Form Submit Button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}