{% extends "base.html" %}
{% load static %}
{% load section_path %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section>
        <div id="grad1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 text-center hero-block">
                        <div class="hero-text">
                            <h1 class="hero-text-title">Hive Fitness <i class="fas fa-dumbbell"></i></h1>
                            <h3 class="hero-text-message">The Online Fitness Community</h3>
                        </div>
                    </div>
                    <div class="col-6 hero-block">
                        <img class="hero-image" src="/media/workout3.png" alt="working out">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
      <div class="container">
        <div class="row">
            <div class="offset-1 col-10 text-center">
                <hr style="width:80%; margin: auto;" class="my-1">
                <h3>About Us</h3>
                <hr style="width:80%; margin: auto;" class="my-1">
                    Welcome to Hive Fitness, an online fitness community with a passion for exercise and physical health.
                    <br />
                    <br />
                    Our store supplies a wide variety of exercise equipment. Whatever your workout preforance, we can facilitate 
                    the equipment needed to optimise your routine. Whether you have a respect for running, a yearning for yoga 
                    or live to work the weights, we have something for you.
                    <br />
                    <br />
                    If our store is the face of our site then our forum is its heart. This is where our community meets to share 
                    their training tips, post their opinions and interact with other members. Registered users can login and add 
                    their own content and expand the information network even further.
                    <br />
                    <br />
                    We know that staying fit and healthy is not always fun. It takes a lot of work just to maintain, even more to 
                    reach a goal. With a community at your back and the right equipment in hand, you will be supprised what you can 
                    achieve.
                </p>
            </div>
        </div>
    </div>
    </section>

    <!--Feature Cards-->
    <section class="features">
      <hr style="width:80%; margin: auto;" class="my-1">
      <h3 class="text-center">Features</h3>
      <hr style="width:80%; margin: auto;" class="my-1">
      <div class="container">
        <div class="row">
          <!--Shop link-->
          <div class="col s12 m6 l4">
              <div class="home-card card center-align">
                  <div class="home-card-title">
                      <h6>Fitness Store</h6>
                  </div>
                  <div class="home-card-image">
                      <img src="/media/shop-home.jpg" class="inner-home-image" alt="treadmill">
                  </div>
                  <div class="home-card-content">We've worked hard to find the latest and greatest fitness equipment on the market. 
                    This is a one stop shop for anything you made need to reach you exercise goals, from cardiovascular training, 
                    resistance workouts or even recovery.</div>
                  <div class="home-btn-container">
                      <a href="{% url 'products' %}" class="home-btn">
                          View the equipment
                      </a>
                  </div>
              </div>
          </div>
          <!--Forum link-->
          <div class="col s12 m6 l4">
              <div class="home-card card center-align">
                  <div class="home-card-title">
                      <h6>Join our community</h6>
                  </div>
                  <div class="home-card-image">
                      <img src="/media/forum-home.jpg" class="inner-home-image" alt="group exercise">
                  </div>
                  <div class="home-card-content">What sets us apart from other equipment suppliers is our community of customers. 
                    Our forum allows you to get in touch with like minded individuals. Get inspired by reading up on success stories, reviews of our products and even discover some workout routines.
                      Search though our vast collection located together in one convenient place.</div>
                  <div class="home-btn-container">
                      <a href="" class="home-btn">
                          Visit our Forum
                      </a>
                  </div>
              </div>
          </div>
          <!--Profile/login link-->
          <div class="col s12 m6 l4">
              <div class="home-card card center-align">
                  <div class="home-card-title">
                      <h6>Your own profile page</h6>
                  </div>
                  <div class="home-card-image">
                      <img src="/media/user-home.webp" class="inner-home-image" alt="laptop profile">
                  </div class="home-card-title">
                  {% if request.user.is_authenticated %}
                  <div class="home-card-content">Click the link bellow to access your own unique profile page. From here you
                      can easily edit your details and review your orders. </div>
                  {% else %}
                  <div class="home-card-content">Oh no, you're not logged in! But don't worry, you can login here to access
                      your unique profile page and some exclusive features.</div>
                  {% endif %}
                  <div class="home-btn-container">
                      {% if request.user.is_authenticated %}
                      <a href="{% url 'profile' %}" class="home-btn">
                          Visit your profile page
                      </a>
                      {% else %}
                      <a href="{% url 'account_login' %}" class="home-btn">
                          Login
                      </a>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
      </div>
    </section>

    <section class="contact"  id="contact">
        <div class="container">
            <div class="row mb-5 mx-2 mx-sm-0">
                <div class="col-md-2"></div>
                <div class="col-md-8 ct-contact">
                    <div class="mt-3 mb-4 text-center">
                        <hr style="width:80%; margin: auto;" class="my-1">
                        <h3 class="text-center">Contact Us</h3>
                        <hr style="width:80%; margin: auto;" class="my-1">
                    </div>
                    <form method="POST" action="{% url 'contactform' %}">
                        {% csrf_token %}
                        {{ contact_form|crispy }}
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-colour-1" aria-label="Contact Form Submit Button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
{% endblock %}