/* -- General -- */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding-top: 20px;
    background-color: rgb(255, 217, 0);
    background-size: cover;
    color: #555;
    font-family: 'Nunito', sans-serif;
}

.title-font {
    font-family: 'Bebas Neue', sans-serif;
}

.break-lg{
    width: 100%;
    margin: 10px auto;
    background-color: rgb(51, 51, 51);
}

.break-md{
    width: 80%;
    margin: 10px auto;
    background-color: rgb(51, 51, 51);
}

.break-sm {
    width: 60%;
    margin: 10px auto;
    background-color: rgb(51, 51, 51);
}

.site-btn {
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(255, 217, 0);
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.site-btn:hover {
    background-color: rgb(255, 217, 0);
    color: black;
    border: 2px solid black;
}

.btn-border {
    display: flex;
    justify-content: center;
}

.btn-border-grey {
    background-color: rgb(51, 51, 51);
    padding: 20px;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* -- Header -- */
.header-main {
    background-color: rgb(51, 51, 51);
    color: white;
}

.nav-link {
    color: white;
    /*border: 2px solid blue;*/
}

.nav-link:hover {
    color: rgb(255, 217, 0);
}

.navigation {
    /*border: 2px solid blue;*/
    padding: 0;
    margin: 0;
}

.navigation-item {
    /*border: 2px solid rgb(87, 87, 114);*/
    font-size: medium;
    padding: 0;
    margin: 0;
}

.navigation-item-xs {
    font-size: smaller;
}

.main-logo-link {
    width: fit-content;
}

.mobile-nav-link {
    font-size: xx-small;
    margin: 0;
}

.dropdown-menu {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px
}

.search-bar {
    padding-right: 20px;
}

/* -- Delivery Banner -- */
#delivery-banner {
    background-color: black;
}

/* -- Hero message and image -- */
#grad1 {
    background-color: rgb(255, 217, 0); /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, rgb(182, 155, 3) , rgb(255, 217, 0));
}

.hero-text {
    padding-top: 150px;
}

.hero-text-title {
    font-size: 100px;
}

.hero-text-message {
    font-size: 50px;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

/* -- footer -- */
.page-footer {
    margin-top: 50px;
    background-color: black;
    color: rgb(255, 217, 0);
}

.footer-info {
    padding: 20px;
}

.footer-copyright {
    background-color: rgb(51, 51, 51);
    font-size: x-small;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-link {
    color: rgb(255, 217, 0);
}

.footer-link:hover {
    color: white;
}

.social-btn {
    font-size: large;
    padding: 0px 5px;
    color: white;
}

.social-btn:hover {
    color: rgb(255, 217, 0);
}

/* -- Feature cards -- */
.features {
    width: 100%;
    margin: 20px auto;
}

.feature-card {
    width: 33.33%;
    padding: 20px;
}

.home-card {
    background-color: rgb(51, 51, 51);
    color: white;
}

.home-card-title {
    padding: 10px;
}

.inner-home-image {
    width: 100%;
    height: 200px;
    padding: 0px 20px;
}

.home-card-content {
    padding: 20px 10px 0px 10px;
    min-height: 125px;
    font-size: x-small;
}

.home-btn-container {
    padding: 10px;
    width: 100%;
}

.home-btn {
    background-color: black;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 217, 0);
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.home-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* Blog Page */

.blog-card {
    background-color: rgb(255, 217, 0);
    padding: 10px;
    border-radius: 5px;
}

.blog-category-card {
    background-color: rgb(255, 217, 0);
    padding: 10px;
    border-radius: 5px;
}

.category-card-inner {
    background-color: white;
    border-radius: 5px;
    height: 100%;
}

.blog-comment-card {
    background-color: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 5px;
}

.comments {
    color: rgb(255, 217, 0);
}

/* Products */

.card-img-top {
    min-height: 250px;
}

/* -- Product Form -- */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* -- Forms -- */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* -- bootstrap toasts -- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
/* -- Messages -- */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -- from Bulma -- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -- Allauth form formatting -- */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 170px;
    }

    .extra-nav {
        display: none;
        background-color: rgb(51, 51, 51);
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 60px;
    }

    #grad1 {
        height: 200px;
    }

    .hero-text {
        padding-top: 50px;
    }

    .hero-text-title {
        font-size: 50px;
    }
    
    .hero-text-message {
        font-size: 25px;
    }

    .hero-image {
        display: none;
    }

    .feature-card {
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    body {
        margin-top: 50px;
    }
}

:target::before {
    content: "";
    display: block;
    height: 10rem; /* fixed header height*/
    margin: 10rem 0 0; /* negative fixed header height */
}
