{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <hr class="break-md">
            <h2 class="text-center title-font">Manage Categories</h2>
            <h4 class="text-center title-font">Add Product Category</h4>
            <hr class="break-md">
            <div class="btn-border">
                <a href="{% url 'add_category' %}" class="site-btn btn">Add Product Category</a> 
            </div>
        </div>
    </div>                                   
</div>

<div class="container">
    <hr class="break-md">
    <h4 class="text-center title-font">Current Categories</h4>
    <hr class="break-md">
    <div class="blog-card">
        {% for category in categories %}
    <div class="card mb-1">
        <div class="card-body container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="">{{ category.name }} | {{ category.friendly_name }}</h4>
                </div>
                <div class="col-12 col-md-6">
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="site-btn" href="{% url 'edit_category' category.id %}">Edit</a>
                            <a class="site-btn" href="{% url 'delete_category' category.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}