{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Manage Product Categories</h2>
    <h4>Add Product Category</h4>
    <a href="{% url 'add_category' %}" class="dropdown-item">Add Product Category</a>                                    
</div>

<div class="container">
    <h4>Current Categories</h2>
    {% for category in categories %}
    <div class="card mb-1">
        <div class="card-body container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="">{{ category.name }} | {{ category.friendly_name }}</h4>
                </div>
                <div class="col-12 col-md-6">
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_category' category.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_category' category.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}