{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-1 mb-2"></div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-body container">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                        <div class="col-12 col-sm-8">
                            <h2 class="title-font">{{ post.title }}</h2>
                            <p class="post-author text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <div>
                                {% if request.user.is_superuser %}
                                    <a class="site-btn" href="{% url 'edit_post' post.id %}">Edit</a>
                                    <a class="site-btn" href="{% url 'delete_post' post.id %}">Delete</a>
                                {% endif %}
                                <a href="{% url 'posts' %}" class="site-btn btn shadow-none">Return</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="post-text">{{post.content}}</p>
                            </div>
                        </div>
                        <div class="col-md-10 offset-1">
                            <div class="card-body">
                                <!-- comments -->
                                <small>{{ comments.count }} comments</samll>
                                <h4 class="title-font">Comments</h4>
                                {% for comment in comments %}
                                    <div class="comments blog-card">
                                        <p>{{ comment.name }} | <span class=" text-muted">{{ comment.created_on }}</span></p> 
                                        <p>{{ comment.body | linebreaks }}</p>
                                        
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="col-10 offset-1">
                            <div class="card-body">
                                {% if new_comment %}
                                    <div class="alert alert-success" role="alert">
                                        Your comment has been added!
                                    </div>
                                {% else %}
                                    <h3>Leave a comment</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ comment_form | crispy }}
                                        <button type="submit" class="site-btn btn btn-lg">Submit</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                            <div>
                                <p>To leave a comment, please register or login.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}