{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <hr class="break-sm">
        <h3 class="text-center title-font">Blog Posts</h3>
        <hr class="break-sm">
    </div>
</div>
<div class="container">
    <div class="row mt-1 mb-2">
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 blog-card">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h2 class="title-font">{{ post.title }}</h2>
                            <p class="post-author text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="post-text">{{post.content|slice:":100" }}</p>
                            <div>
                                {% if request.user.is_superuser %}
                                        <a class="site-btn" href="{% url 'edit_post' post.id %}">Edit</a>  
                                        <a class="site-btn" href="{% url 'delete_post' post.id %}">Delete</a>
                                    {% endif %}
                                <a class="site-btn btn btn-primary" href="{% url 'post_detail' post.id %}">Read More</a>
                            </div>   
                        </div>
                        <div class="d-none d-md-block col-md-4">
                            <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}