{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <hr style="width:60%; margin: auto;" class="my-1">
        <h3 class="text-center">Blog Posts</h3>
        <hr style="width:60%; margin: auto;" class="my-1">
    </div>
</div>
<div class="container">
    <div class="row mt-1 mb-2">
    </div>
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body container">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <p class="post-author text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="post-text">{{post.content|slice:":100" }}</p>
                            {% if request.user.is_superuser %}
                                <small class="">
                                    <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                                </small>
                            {% endif %}
                            <p><a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More &rarr;</a></p>
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}